.modal__container-form {
  max-width: 496px;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  z-index: 10;
}

.modal__form {
  padding: 28px 28px 36px;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-family: "Cabinet Grotesk";
  font-size: 16px;
  max-width: 440px;
  line-height: 20px;
}

.modal__title {
  margin: 0;
  font-size: 16px;
}

.modal__header {
  margin: 0 0 24px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin: 24px 0 0;
}

.modal__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin: 8px 0 0;
  line-height: 24px;
}

.modal__submit-btn {
  color: rgba(255, 255, 255, 1);
  border: none;
  padding: 8px 16px;
  max-width: 124px;
  border-radius: 4px;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  cursor: pointer;
}

.modal__weather {
  border: none;
  margin: 0 0 32px;
  padding: 0;
}

.modal__legend {
  margin: 0 0 12px;
  padding: 24px 0 0;
}

.modal__radio-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgba(0, 0, 0, 0.5);
}

.modal__radio-label {
  display: flex;
  gap: 8px;
}

input[type="radio"] {
  accent-color: rgba(0, 0, 0, 1);
}

.modal__radio-label {
  margin: 0;
}

.modal__close-btn_type_form {
  top: 20px;
  right: 28px;
}

@media (max-width: 768px) {
  .modal_is-opened {
    padding: 0;
  }

  .modal__form {
    padding: 32px 16px;
    max-width: 375px;
  }

  .modal__container-form {
    top: auto;
    bottom: 0;
    transform: translateY(50px);
    max-width: 375px;
  }

  .modal__title {
    margin: 0 0 13px;
  }

  .modal__weather {
    margin: 0 0 30px;
  }

  .modal__close-btn_type_form {
    top: 20px;
    right: 20px;
    height: 21.21px;
    width: 21.21px;
    cursor: pointer;
  }

  .modal__submit-btn {
    width: 100%;
    padding: 12px 126px;
    max-width: 343px;
  }
}
