.toggle-switch {
  /*padding: 6px 0 9px;*/
  width: 56px;
  height: 28px;
  border: 2px solid rgba(126, 126, 126, 1);
  border-radius: 20px;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.toggle-switch:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.toggle-switch__checkbox {
  visibility: hidden;
  position: absolute;
}

.toggle-switch__circle {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 1);
  z-index: -1;
  transition: transform 0.6s ease-in-out;
}

.toggle-switch__circle:hover {
  left: 0;
  right: 2px;
}

.toggle-switch__value_left {
  position: absolute;
  left: 9px;
}

.toggle-switch__value_right {
  position: absolute;
  right: 7px;
}

.toggle-switch__checkbox:checked + .toggle-switch__circle {
  transform: translateX(100%);
}

.toggle-switch__value {
  color: rgba(126, 126, 126, 1);
  line-height: 1;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__value_right {
  color: rgba(255, 255, 255, 1);
}

.toggle-switch__checkbox:not(:checked) ~ .toggle-switch__value_left {
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  .toggle-switch {
    right: 16px;
    top: 91px;
    position: absolute;
  }
}
