.item-card {
  width: 325px;
  height: 328px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.item-card__type {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 1);
  padding: 2px 12px;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
}

.item-card__clothing {
  width: 323px;
  height: 326px;
  object-fit: contain;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  .item-card {
    width: 308px;
    height: 308px;
  }
  .item-card__clothing {
    width: 308px;
    height: 308px;
  }
}

@media (max-width: 664px) {
  .item-card {
    width: 264px;
    height: 264px;
  }

  .item-card__clothing {
    width: 264px;
    height: 264px;
  }
}

@media (max-width: 576px) {
  .item-card {
    width: 163px;
    height: 163px;
    box-sizing: border-box;
  }
  .item-card__clothing {
    width: 163px;
    height: 163px;
    box-sizing: border-box;
  }
}
