.item-card {
  max-width: 325px;
  max-height: 328px;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.item-card__type {
  position: absolute;
  z-index: 3;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  background-color: rgba(255, 255, 255, 1);
  padding: 2px 12px;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
}

.item-card__clothing {
  width: 323px;
  object-fit: contain;
  border-radius: 19px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media (max-width: 1439px) {
  .item-card {
    width: 297px;
    height: 297px;
  }

  .item-card__clothing {
    width: 297px;
    height: 297px;
  }

  .item-card:nth-child(n + 5) {
    display: none;
  }
}

@media (max-width: 1329px) {
  .item-card {
    width: 272px;
    height: 272px;
  }

  .item-card__clothing {
    width: 272px;
    height: 272px;
  }
}

@media (min-width: 1024px) and (max-width: 1231px) {
  .item-card {
    width: 221px;
    height: 221px;
  }

  .item-card__clothing {
    width: 221px;
    height: 221px;
  }
}

@media (min-width: 769px) and (max-width: 1023px) {
  .item-card {
    width: 157px;
    height: 157px;
  }

  .item-card__clothing {
    width: 157px;
    height: 157px;
  }
}

@media (max-width: 768px) {
  .item-card {
    width: 308px;
    height: 308px;
  }
  .item-card__clothing {
    width: 308px;
    height: 308px;
  }
}

@media (max-width: 664px) {
  .item-card {
    width: 264px;
    height: 264px;
  }

  .item-card__clothing {
    width: 264px;
    height: 264px;
  }
}

@media (max-width: 576px) {
  .item-card {
    width: 163px;
    height: 163px;
    box-sizing: border-box;
  }
  .item-card__clothing {
    width: 163px;
    height: 163px;
    box-sizing: border-box;
  }
}
