.weathercard {
  height: 80px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.weathercard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: right top;
}

.weathercard__temp {
  position: absolute;
  z-index: 4;
  left: 16px;
  bottom: 20px;
  top: 20px;
  color: rgba(255, 255, 255, 1);
  font-size: 36px;
  font-weight: 700;
  margin: 0;
  padding: 2px 0;
  font-family: "Cabinet Grotesk";
}
