.modal__container_type_delete {
  max-width: 670px;
  width: 100%;
}

.modal__delete-container {
  margin: 60px 152px;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 367px;
  width: 100%;
}

.modal__texts-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  align-items: center;
}

.modal__delete-btns {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal__delete-button {
  color: rgba(255, 77, 0, 1);
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.modal__cancel-button {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.modal__close-delete-btn {
  top: 20px;
  right: 20px;
  padding: 0;
  height: 20px;
  width: 20px;
}
