.main__text {
  color: rgba(0, 0, 0, 1);
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0 35px;
}

.main__cards {
  gap: 20px;
  display: flex;
  margin: 0 0 171px;
  flex-wrap: wrap;
  max-height: 328px;
  overflow: hidden;
  padding: 0;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}
