.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  font-family: "Cabinet Grotesk";
  margin: 0 0 28px;
}

.header__logo {
  margin: 0;
  height: 40px;
}

.header__place {
  padding: 11px 0 5px;
  margin: 0;
}

.header__add-btn {
  margin: 6px 20px 9px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  font-family: "Cabinet Grotesk";
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.header__username {
  padding: 6px 12px 9px 0;
  margin: 0;
}

.header__nothamburger-btn {
  width: 0;
  height: 0;
  padding: 0;
  border: none;
  margin: 0;
  border: 0;
  display: none;
}

.header__mobile-group {
  margin: 0 24px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.header__nothamburger-img {
  display: none;
}

.header__hidden-group {
  display: flex;
  visibility: visible;
}

.mobile-menu__add-btn {
  display: none;
}

.mobile-menu__avatar {
  display: none;
}

.mobile-menu__username {
  display: none;
}

.mobile-menu__close-btn {
  display: none;
}

.header__side {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 343px;
    flex-direction: column;
    margin: 0 0 16px;
  }

  .header__mobile-group {
    justify-content: space-between;
    margin: 0 0 32px;
  }
  .header__place {
    padding: 0;
  }

  .header__nothamburger-btn {
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    display: block;
    cursor: pointer;
  }

  .header__nothamburger-img {
    justify-self: center;
    display: block;
  }

  .header__hidden-group {
    display: none;
    visibility: hidden;
  }

  .mobile-menu {
    display: none;
  }
  .mobile-menu_open {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 11px 11px 52.43px;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
    width: 100%;
    position: relative;
    top: -38px;
  }

  .mobile-menu__group {
    display: flex;
    gap: 12px;
    margin: 0 0 32px;
  }

  .mobile-menu__add-btn {
    margin: 0;
    display: block;
  }

  .mobile-menu__username {
    padding: 8px 0 0;
    display: block;
  }

  .mobile-menu__avatar {
    height: 40px;
    width: 40px;
    display: block;
  }

  .mobile-menu__close-btn {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    align-self: flex-end;
    padding: 0;
    display: block;
  }

  .mobile-menu__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 27.58px 0 0;
  }

  .header__side {
    display: flex;
    flex-direction: column;
    align-items: unset;
  }
}

@media (max-width: 400px) {
  .mobile-menu_open {
    width: 321px;
  }
}
