.header {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
  font-family: "Cabinet Grotesk";
}

.header__logo {
  margin-right: 24px;
  height: 40px;
}

.header__place {
}

.header__time {
}

.header__add-btn {
  margin-left: auto;
  margin-right: 20px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 1);
  font-family: "Cabinet Grotesk";
  padding: 0;
  font-size: 20px;
  font-weight: 700;
}

.header__username {
  margin-right: 12px;
}

.header__avatar {
}

.header__ {
}
