.modal {
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  padding: 0 10px;
  visibility: hidden;
  opacity: 0;
  transition:
    visibilty 0s liner 0.5s,
    opacity 0.5s linear;

  background-color: rgba(0, 0, 0, 0.5);
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}

.modal__image {
  display: block;
}

.modal__close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border: none;
  background-color: transparent;
}

.modal__footer {
  gap: 12px;
  display: flex;
  padding: 20px 32px 32px;
  font-size: 20px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}

.modal__text {
  margin: 0;
}
