.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 229px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar__row {
  display: flex;
  gap: 16px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
}

.sidebar__username {
  margin: 16px 0 15px;
}
