.sidebar {
  display: flex;
  flex-direction: column;
  max-width: 229px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.sidebar__row {
  display: flex;
  gap: 16px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
  border-radius: 50%;
}

.sidebar__username {
  margin: 16px 0 15px;
}

.sidebar__btns {
  gap: 8px;
  margin: 24px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__profile-data {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.sidebar__logout-btn {
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
