.clothes-section {
  display: flex;
  flex-direction: column;
}

.clothes-section__row {
  display: flex;
  gap: 20px;
}

.clothes-section__title {
  margin: 16px 0 15px;
}
.clothes-section__add-btn {
  margin: 6px 0 9px;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Cabinet Grotesk";
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.clothes-section__cards {
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  list-style-type: none;
}
